.header{
    width: 100%;
    display: flex;
    justify-content: space-between;
    background-color: #A8A8E8;
}

.home img{
    height: 30px;
    margin-top: 30px;
    margin-left: 30px;
}

.menu{
    display: flex;
    margin-top: 40px;
    padding-right: 20px;
}

.menu a{
    padding-right: 40px;
    color: black;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-decoration: none;
    font-size: 18px;
}

.menu a:hover{
    color: orange;
    transform: scale(1.1);
}

.tieude{
    margin-left: 30px;
    padding: auto;
}

.tieude img{
    height: 100px;
}

.body-cuoi{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: flex;
    text-align: center;
    justify-content: space-around;
    background-color: #CCCCCC;
}